{% extends 'oferty/podstawowy.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class=" col-10 p-0 my-4 shadow mx-auto">
            <div class="col-12 custom-bg-dark p-2">
                <p class="mr-2"
                   style="color: #EE3733; text-transform: uppercase; font-weight: 900; font-size: 15px;"
                >Dołącz już dziś!</p>
            </div>
            <div class="col-12 p-4">
                {{ form|crispy }}
                <button class="btn btn-danger" type="submit">Zarejestruj</button>
            </div>
            <div class="border-top py-3 m-3">
                <small style="color: #EE3733; text-transform: uppercase; font-weight: 900; font-size: 15px;">
                    Masz już konto? <a class="ml-2 text-dark" href="{% url 'zaloguj' %}">Zaloguj</a>
                </small>
            </div>
    </form>
{% endblock %} 
