{% extends "oferty/podstawowy.html' %}
{% load crispy_forms_tags %}
{% block content %}
 <form method="POST">
        {% csrf_token %}
        <div class=" col-10 p-0 my-4 shadow mx-auto">
            <div class="col-12 custom-bg-dark p-2">
                <p class="mr-2"
                   style="color: #EE3733; text-transform: uppercase; font-weight: 900; font-size: 15px;"
                >Zaloguj</p>
            </div>
            <div class="col-12 p-4">
                {{ form|crispy }
					 <button class="btn btn-danger" type="submit">Zaloguj!</button>
            </div>
            <div class="border-top py-3 m-3">
                <small style="color: #EE3733; text-transform: uppercase; font-weight: 900; font-size: 15px;">
                    Nie masz jeszcze konta? <a class="ml-2 text-dark" href="{% url 'zarejestruj' %}">Utwórz nowe już
                    teraz!</a>
                </small>
            </div>
             </form>
{% endblock %} 
{% endblock content %}  
