{% extends "oferty/podstawowy.html" %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class=" col-10 p-0 my-4 shadow mx-auto">
            <div class="col-12 custom-bg-dark p-2">
                <p class="mr-2"
                   style="color: #EE3733; text-transform: uppercase; font-weight: 900; font-size: 15px;"
                >Usuń swoją ofertę</p>
            </div>
            <div class="col-12 p-4">
                <h2>Jesteś pewny że chcesz usunąć ofertę "{{ object.tytul }}"</h2>
                <button class="btn btn-danger" type="submit">Tak, Usuń</button>
                <a class="btn btn-danger" href="{% url 'oferta_szczegoly' object.id %}">Anuluj</a>
            </div>
        </div>
    </form>
{% endblock content %} 
