{% extends "oferty/podstawowy.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.autor.profil.zdjecie.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2">{{ object.autor }}</a>
        <small class="text-muted">{{ object.data|date:"F d, Y" }}</small>
        {% if object.autor == user %}
          <div>
            <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'oferta_aktualizuj' object.id %}">Aktualizuj</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'oferta_usun' object.id %}">Usuń</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ object.tytul }}</h2>
      <p class="article-content">{{ object.tresc }}</p>
    </div>
  </article>
    {% if user.is_authenticated%}
      <hr>
      <a class="btn btn-primary" href="{% url 'komentarz_utworz' object.id %}">Dodaj Komentarz</a>
        {% endif %}
      <hr>
      <h3> Komantarze: {{ komentarze.count }}</h3>
    {% for komantarz in komentarze.all %}

        <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ komantarz.autor.profil.zdjecie.url }}">
        <div class="media-body">
          <div class="article-metadata">
            <a href="{% url 'profil_innego_uzytkownika' komantarz.autor.id %}" class="mr-2">{{ komantarz.autor.get_full_name|default:komantarz.autor}}</a>
              <small class="text-muted">{{ komantarz.date|date:"d.m.Y"  }}</small>
              {%if object.autor == user%}
                  <a class="btn btn-sm mt-1 mb-1" href="{% url 'komentarz_aktualizuj' komantarz.id %}">
                      <span><i class="fas fa-pen text-info d-flex " ></i></span>
                  </a>
                   <a class="btn btn-sm mt-1 mb-1" href="{% url 'komentarz_usun' komantarz.id %}">
                      <span><i class="fas fa-trash-alt text-danger d-flex " ></i></span>
                  </a>

              {% endif %}
          </div>
          <p class="article-content">{{ komantarz.tresc|linebreaks }}</p>
        </div>
      </article>

    {% endfor %}
{% endblock content %} 