{% extends "oferty/podstawowy.html" %}
{% block content %}
    <div class=" col-10 p-0 my-4 shadow mx-auto">
        <div class="col-12 custom-bg-dark p-3">
            <a class="mr-2"
               style="color: #EE3733; text-transform: uppercase; font-weight: 900; font-size: 15px;"
               href="{% url 'profil_innego_uzytkownika' oferta.autor.id %}">{{ autor.get_full_name|default:oferta.autor }}</a>
            <small class="text-muted">{{ oferta.data|date:"F d, Y" }}</small>
            {% if oferta.autor == request.user %}
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'oferta_aktualizuj' object.id %}">Aktualizuj</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'oferta_usun' object.id %}">Usuń</a>
            {% endif %}
        </div>
        <div class="col-12">
            <h2><p class="article-title">{{ object.tytul }}</p></h2>
            <p class="article-content pb-3 px-3">{{ object.tresc }}</p>
        </div>
    </div>
  
  {% if user.is_authenticated %}
        <hr>
        <a class="btn btn-danger" href="{% url 'komentarz_utworz' object.id %}">Dodaj Komentarz</a>
    {% endif %}
    <hr>
    <h3> komentarze: {{ komentarze.count }}</h3>
    {% for komentarz in komentarze.all %}
        <div class=" col-6 p-0 my-4 shadow">
            <div class="col-12 custom-bg-dark p-1">
                <img class="rounded-circle article-img" src="{{ komentarz.autor.profil.zdjecie.url }}"
                     style="max-width: 50px; max-height: 50px;">
                <a class="mr-2"
                   style="color: #EE3733; text-transform: uppercase; font-weight: 900; font-size: 15px;"
                   href="{% url 'profil_innego_uzytkownika' komentarz.autor.id %}">{{ komentarz.autor.get_full_name|default:komentarz.autor }}</a>
                <small class="text-muted">{{ komentarz.date|date:"d.m.Y" }}</small>
                {% if komentarz.autor == request.user %}
                    <a class="btn btn-sm mt-1 mb-1" href="{% url 'komentarz_aktualizuj' komentarz.pk %}">
                        <span><i class="fas fa-pen text-danger d-flex "></i></span>
                    </a>
                    <a class="btn btn-sm mt-1 mb-1" href="{% url 'komentarz_usun' komentarz.pk %}">
                        <span><i class="fas fa-trash-alt text-danger d-flex "></i></span>
                    </a>
                {% endif %}
            </div>
            <div class="col-12">
                <p class="article-content p-3">{{ komentarz.tresc }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock content %} 
